<% include partials/head.ejs%>
<title>
    <%= title%>
</title>
</head>

<body>
    <!-- header -->
    <header>
        <% include partials/nav.ejs%>
        <div class="titulos">
            <h1 class="text-center"><b>Bicicletas Has</b></h1>
            <h3 class="text-center"><b>Calidad en Rodados</b></h3>
        </div>
        <img src="img/bici2.jpg" class="img-fluid header-img" alt="Responsive image">

    </header>

    <!-- /header -->

    <!-- nosotros -->
    <div class="container mt-5">
        <div class="row justify-content-center">
            <h2> <b>Nuestra Empresa</b></h2>
        </div>
        <hr class="separacion text-center mb-5">
    </div>
    <section id="nosotros" class="nosotros">
        <div class="container">
            <div class="row mr-0 ml-0">
                <div class="col-md-6">
                    <h2 class="text-center mb-3">Inicios</h2>
                    <hr class="separacion1 text-center mb-3">
                    <p class="text-center mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Quibusdam itaque modi eveniet! Aut iste odio excepturi.
                        Voluptatibus quo dolor cumque eveniet
                        accusantium nostrum reiciendis dolore laudantium commodi ratione velit, fuga possimus dicta
                        perferendis.
                        Aperiam quas repellat cumque porro consequuntur voluptas?</p>
                </div>
                <div class="col-md-6">
                    <img src="img/primerTaller.jpeg" class="img-fluid shadow p-3 mb-5 bg-white rounded" alt="Responsive image">
                    <p class="text-center"><i>*Foto de 1986 en el primer taller del Abasto</i> </p>
                </div>
            </div>
            <div class="row mt-5 mr-0 ml-0">
                <div class="col-md-6">
                    <img src="img/taller2.jpeg" class="img-fluid shadow p-3 mb-5 bg-white rounded" alt="Responsive image">
                </div>
                <div class="col-md-6">
                    <h2 class="text-center mb-3">Fabricaci칩n Propia</h2>
                    <hr class="separacion1 text-center mb-3">
                    <p class="text-center mt-3"> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Natus molestias laudantium et quidem mollitia doloremque unde error, alias blanditiis
                        cumque reprehenderit exercitationem ducimus ullam fuga ipsum suscipit distinctio quibusdam ex
                        debitis ipsa,
                        omnis culpa amet? Corrupti doloremque dolorum, cupiditate corporis ad architecto dolore
                        reprehenderit exercitationem incidunt! Rem labore,
                        quasi provident minima voluptatibus facere laudantium quam tempora soluta, accusantium
                        similique. Suscipit!</p>
                </div>
                <div class="row mt-5 mr-0 ml-0">
                    <div class="col-md-6">
                        <h2 class="text-center mb-3">Exportaci칩n</h2>
                        <hr class="separacion1 text-center mb-3">
                        <p class="text-center  mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Dicta quae reprehenderit adipisci sit vitae doloremque, ratione,
                            facilis eius perferendis iusto laborum et? Doloremque repellat perspiciatis
                            dolore assumenda non, dolorem maiores facilis, corrupti dolorum eos quas eius
                            quidem pariatur temporibus nisi asperiores officiis ea voluptatibus? Architecto
                            consequatur dolorem quia nemo fuga quo doloremque sapiente distinctio quos at animi odit,
                            tempore beatae?</p>
                    </div>
                    <div class="col-md-6">
                        <p class="text-center">
                            <img src="img/tallerMadrid.jpeg" class="img-fluid pl-0 pr-0 shadow p-3 mb-5 bg-white rounded"
                                alt="Responsive image">
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- /nosotros -->

    <!-- contacto -->
    <div class="container" id="ubicacion">
        <h2 class="text-center">Ubicaci칩n</h2>
        <hr class="separacion text-center mb-5">        
        <div class="row mt-5 mb-5 mr-0 ml-0">
            <div class="col-md-6 d-flex justify-content-center">
                <iframe class="grande shadow p-3 mb-5 bg-white rounded" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.1020395494547!2d-58.41479074956856!3d-34.60158116479538!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca8be3ba8c19%3A0xc5d981042f27ec41!2sGallo+%26+Lavalle%2C+C1192+CABA!5e0!3m2!1ses-419!2sar!4v1545315282795"
                    width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                <iframe class="peque침o shadow p-3 mb-5 bg-white rounded" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.1020395494547!2d-58.41479074956856!3d-34.60158116479538!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca8be3ba8c19%3A0xc5d981042f27ec41!2sGallo+%26+Lavalle%2C+C1192+CABA!5e0!3m2!1ses-419!2sar!4v1545315282795"
                    width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-md-6 mt-5  pl-5">
                    
                    <div><i class="fa fa-map-marker fa-2x mt-5 mr-5" aria-hidden="true"></i> <strong>Gallo 1251,Ciudad de Buenos Aires</strong> </div>
                    <div><i class="fa fa-phone fa-2x mt-5 mr-5" aria-hidden="true"></i> <strong>+054 1145789652</strong>  </div>             
                    <div><i class="fa fa-envelope fa-2x mt-5 mr-5" aria-hidden="true"></i> <strong>contacto@hasbicis.com</strong>  </div>
            </div>
        </div>
    </div>

    <!-- /contacto -->


    <% include partials/footer.ejs%>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="js/main.js"></script>
</body>

</html>